@using MyProjectForWork.Models
@model IEnumerable<MyProjectForWork.Models.Job>

@{
    ViewBag.Title = "AllJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="container-banner" class="container-fluid employers-banner">
    <h2>Jobs</h2>



    
    @*<input id="my-input" type ="text" placeholder="Search..."/>*@
    <table id="table" class="table table-for-employers">
        <thead>
        <tr>
            <th>
                Employer
            </th>
            <th>
                Job Field
                <form>

                    <select name="field" id="field">
                        <optgroup label="Select">
                            @foreach (var item in Model)
                            {
                                <option value="@item.JobField.Field">@item.JobField.Field</option>
                            }

                        </optgroup>
                        @*<optgroup label="Design">
                            <option value="photo">Photo</option>
                            <option value="video">Video</option>
                        </optgroup>*@
                    </select>
                    <br><br>
                </form>
            </th>
            <th>
                Position
            </th>
            <th>
                Job Description
            </th>

        </tr>
        </thead>
        <tbody id="my-table">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="/Resource/banner.jpg" class="img-rounded img-responsive" width="80" height="80" />
                    </td>
                    <td>
                        @item.JobField.Field
                        @*@Html.ActionLink(item.JobField.Field, "ShowJobField", "Jobs", new {jobField = item.JobField.Field}, null)*@
                    </td>
                    <td>

                        @Html.ActionLink(item.JobName, "ShowJob", "Jobs", new { jobName = item.JobName }, null)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.JobDescription)

                    </td>

                </tr>
            }

        </tbody>
    </table>


</div>




<style>

    html {
    }

    body {
        margin-top: 30px;
        height: 100%;
    }

    .employers-banner {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        opacity: 0.7;
        transition: 0.5s;
    }

    #company-image {
        border-radius: 10px;
    }

    tr {
        border-radius: 10px;
    }


    th {
        background-color: #D3D8F4;
        opacity: 0.7;
    }

    #container-banner:hover {
        opacity: 1;
        transition: 0.5s;
    }

    tr:hover {
        transition: 0.2s;
        background-color: #D3D8F4;
    }
</style>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">

    'use strict';

    $("#field").on("change",
        function() {
            // This code will fire every time the user selects something

            const selected = $(this).val();
            $("#my-table tr").filter(function() {

                $(this).toggle($(this).text().indexOf(selected) > -1);
            });


        });

    $(document).ready(function() {
        $("#my-input").on("keyup",
            function() {
                const value = $(this).val().toUpperCase();
                $("#my-table tr").filter(function() {

                    $(this).toggle(this).text().indexOf(selected) > -1;
                });
            });
    });


    
    
</script>