@using System.Security.Cryptography.X509Certificates
@using MyProjectForWork.Models
@model MyProjectForWork.Models.SingleBookViewModel

@{
    ViewBag.Title = "OpenBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Books"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @*@Html.LabelFor(model => model.Book.Id)*@
        @Html.HiddenFor(model => model.Book.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Book.Title)
        @Html.TextBoxFor(model => model.Book.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Book.Description)
        @Html.TextBoxFor(model => model.Book.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Book.MeanRatingValue)
        @Html.TextBoxFor(model => model.Book.MeanRatingValue)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Book.NumberOfRatings)
        @Html.TextBoxFor(model => model.Book.NumberOfRatings)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Ratings)
        @Html.DropDownListFor(b => b.Book.RatingId, new SelectList(Model.Ratings, "Id", "Name"), "", new { @class = "form-control" })
    </div>



    <button type="submit" class="btn btn-primary">Save</button>


}










